<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

  <app-input (inputEvent)="result=$event"></app-input>

</div>

<app-vehicle-not-found *ngIf="selectedCategory=='vehicle'"></app-vehicle-not-found>

<router-outlet></router-outlet>
