

    div {
      display:table;
      width: 80%;
      margin: auto;
      max-width: 1000px;
      word-wrap: break-word;
      overflow:auto

    }

    table {
      display:table;
      width: 100%;
      margin: auto;
      max-width: 1000px;
      overflow:auto;
      word-wrap: break-word;
      /* border: 3px solid #73AD21; */
    }

    tr, td, th{
      overflow:auto;
      max-width: 1000px;
      word-wrap: break-word;
      border: 1px solid #73AD21;
      text-align: left
    }
