<div>
<div align="center">
    <select [(ngModel)] = 'selectedCategory'>
      <option *ngFor = 'let category of categoryArray' [(value)] = 'category'>{{category}}</option>
    </select>

    <br><br>

    <form (ngSubmit)="onSubmit()" #numForm="ngForm">
        <label for="number">Choose a number</label><br>
        <input type="text" class = "form-control" id = "number" required max = "5" min = "1" [(ngModel)]="selectedNumber" name="selectedNumber" #name="ngModel"><br>
        <div *ngIf = "selectedNumber != 0 && (selectedNumber < 1 || selectedNumber > 5)">
          The number should between 1 to 5
        </div>
        <button [disabled] = "selectedNumber == 0 || (selectedNumber < 1 || selectedNumber > 5)" type = "submit">Submit</button><br><br><br>
    </form>
</div>

<table *ngIf="results!==null">

  <th *ngIf="results!=null">Name</th>
  <th *ngIf="results!=null">{{results.name}}</th>

  <!-- <ul *ngIf="results!==null"> -->

    <tr  *ngFor="let item of results | keyvalue">
      <td width="30%">{{item.key | titlecase}}: </td>
      <td width="70%">{{item.value}}</td>
    </tr>
  <!-- </ul> -->
</table>
</div>
<p *ngIf="error!=null">
  Error occurred: {{error}}
</p>
